@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
body, html{
    height: 100%;
}
#root{
    height: 100%;
}
.header-img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
    z-index: 0;
}

.caption{
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    width: 100%;
    max-width: 600px;
    z-index: 20;
}
.header-vignette{
    background: linear-gradient(77deg,rgba(0,0,0,.6),transparent 85%);
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 26.09%;
    top: 0;
    transition: opacity .5s;
}